@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

:root {
    --yellow: #FFD700;
    --blue: blue;
    --recipe: #FFF5EE;
}

.final-project {
    width: 100%;
    min-height: 700px;
    background-image: url('../../public/main.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    h1 {
        color: var(--yellow);
        font-size: 40px;
        text-shadow: 2px 2px 4px black;
    }

    .button {
        position: relative;
        top: 450px;
        padding: 16px 32px;
        background-color: var(--yellow);
        border: 1px solid black;
        border-radius: 32px;
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 40%);
        transition: all 0.5s;

        &:hover {
            background-color: #FFFF00;
            box-shadow: 6px 6px 20px rgb(0 0 0 / 70%);
        }
    }
}

.recipes-background {
    background: #E6E2D6 url('../../public/bubbles.jpeg');
    background-repeat: repeat-y;
    background-position-x: center;
    min-height: 600px;
}

.recipes-filter {
    padding: 8px 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 560px) {
        justify-content: center;
    }
}

.recipes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 8px 80px;

    .load-more {
        background-color: var(--recipe);
        background-image: url('../../public/refresh.png');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
        transition: all .5s;
        width: 200px;
        height: 200px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: min-content;
        }

        &:hover {
            box-shadow: 6px 6px 20px rgb(0 0 0 / 40%);
        }
    }
}

.empty-list {
    text-align: center;
    font-weight: 600;

    h2 {
        padding: 80px 0 40px;
    }
}

.recipe {
    font-family: 'Noto Sans', sans-serif;
    width: 280px;
    height: 404px;

    @media (max-width: 767px) {
        height: fit-content;
    }

    .recipe__wrapper {
        position: relative;
        min-height: 404px;
        height: 404px;
        overflow: hidden;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
        transition: all .5s;
        z-index: 0;
        background-color: var(--recipe);
        border-radius: 16px;
        padding: 16px;

        &:hover {
            box-shadow: 6px 6px 20px rgb(0 0 0 / 40%);
        }

        @media (max-width: 767px) {
            min-height: 0;
            height: fit-content;
        }

        @media (min-width: 768px) {
            &:hover {
                height: fit-content;
                z-index: 2;
            }
        }

    }

    .recipe__header {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;

        img {
            height: 200px;
        }

        h3 {
            width: 100%;
            text-align: center;
        }

        a {
            color: black;
        }
    }

    .recipe__button {
        position: absolute;
        top: 172px;
        right: 16px;
        border-radius: 12px;
    }

    .recipe__1st-brewed {
        margin: 8px 0;
    }
}

.recipe-name {
    text-align: center;
    margin: 8px;

    @media (max-width: 480px) {
        font-size: 20px;
    }
}

.recipe-details {
    padding: 0 16px 16px;
    display: flex;
    gap: 32px;

    @media (min-width: 481px) and (max-width: 767px) {
        gap: 16px;
    }

    @media (max-width: 480px) {
        flex-wrap: wrap;
    }

    .recipe-details__img {
        height: 500px;
        text-align: center;

        img {
            height: 100%;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            height: 400px;
        }

        @media (max-width: 480px) {
            height: 400px;
            width: 100%;
        }
    }

    .recipe-details__row {
        display: flex;
        margin-top: 8px;

        .recipe-details__row-name {
            font-weight: 600;
            min-width: 160px;

            @media (min-width: 481px) and (max-width: 767px) {
                min-width: 128px;
            }

            @media (max-width: 480px) {
                min-width: 112px;
            }
        }
    }

    .recipe-details__method {
        margin-top: 16px;
        font-weight: 600;
    }

    .recipe-details__list {
        padding-left: 40px;
        margin: 8px 0;

        @media (max-width: 480px) {
            padding-left: 16px;
        }
    }

    .recipe-details__table {
        border-collapse: collapse;
        margin-bottom: 16px;

        .table__data-padding {
            padding: 2px 16px;
            text-align: center;

            @media (max-width: 480px) {
                padding: 2px 8px;
            }
        }

        th,
        td {
            border-bottom: 1px dotted black;
        }

        th {
            font-weight: 400;
            font-style: italic;
            text-align: center;
            background-color: rgba(244, 236, 192, 0.4);
        }
    }
}

.question {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
    padding: 0 6px;
    background-color: lightgrey;
    color: var(--blue);
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 12px;
    position: relative;

    &:hover .hint {
        display: block;
    }
}

.hint {
    display: none;
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 2;
    width: max-content;
    max-width: 280px;
    padding: 8px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #666;
    background: #fff;
    border-radius: 6px;
    box-shadow: inset 0 0 2px 1px #888;

    @media (min-width: 481px) and (max-width: 767px) {
        left: -160px;
        top: 24px;
        font-size: 12px;
    }

    @media (max-width: 480px) {
        left: -40px;
        top: 24px;
        font-size: 10px;
        max-width: 70vw;
    }
}

@media (max-width: 767px) {
    .recipe__description {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .recipe-details__text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .recipe-details__text {
        font-size: 12px;
    }
}