@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

.final-project {
    width: 100%;
    min-height: 700px;
    background-image: url('../../public/main.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    h1 {
        color: #FFD700;
        font-size: 40px;
        text-shadow: 2px 2px 4px black;
    }

    .button {
        position: relative;
        top: 450px;
        padding: 16px 32px;
        background-color: #FFD700;
        border: 1px solid black;
        border-radius: 32px;
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 40%);
        transition: all 0.5s;

        &:hover {
            background-color: #FFFF00;
            box-shadow: 6px 6px 20px rgb(0 0 0 / 70%);
        }
    }
}

.recipes-list {
    background: #E6E2D6 url('../../public/bubbles.jpeg');
    background-repeat: repeat-y;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 40px;

    @media (min-width: 768px) and (max-width: 991px) {
        padding: 8px 20px;
    }
    @media (max-width: 767px) {
        padding: 8px;
        justify-content: center;
    }
}

.recipe {
    font-family: 'Noto Sans', sans-serif;
    width: 280px;
    height: 404px;

    .recipe__wrapper {
        position: relative;
        min-height: 404px;
        height: 404px;
        overflow: hidden;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
        transition: all .5s;
        z-index: 0;
        background-color: #FFF5EE;
        border-radius: 16px;
        padding: 16px;

        &:hover {
            box-shadow: 6px 6px 20px rgb(0 0 0 / 40%);
            height: fit-content;
            z-index: 2;
        }
    }

    .recipe__header {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;

        img {
            height: 200px;
        }

        h3 {
            width: 100%;
            text-align: center;
        }
    }

    .recipe__button {
        background-color: #f2e8ae;
        padding: 8px 16px;
        border-radius: 24px;
        cursor: pointer;
        position: absolute;
        top: 172px;
        right: 16px;
        transition: all .5s;

        &:hover {
            background-color: #e5d88c;
        }
    }

    .recipe__1st-brewed {
        margin: 8px 0;
    }
}